*
{
  color: white;
}

body
{
  width: 100vw;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center center;
}

#content
{
  margin-top: 10rem;
}

.containers
{
  margin-left: 1rem;
  margin-right: 1rem;
}

#date
{
  margin-top: 1rem;
}

.numbers
{
  font-weight: bold;
  font-size: 5rem;
}
